# Environment variables
.env
.env.*
!.env.example

# Java / Maven
**/target/
*.class

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Build
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
